* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

html {
    background-color: rgb(107, 134, 225);
}

.heading {
    background-color: rgb(20, 45, 50);
}

.factory-name {
    font-size: 30px;
    padding: 20px;
    color: rgb(75, 240, 255);
}

.money {
    top: 2%;
    position: fixed;
    left: 40%;
    padding: 10px;
    color: rgb(75, 240, 255);
}

.chairs {
    top: 2%;
    padding: 10px;
    position: fixed;
    left: 80%;
    color: rgb(75, 240, 255);
}

.name {
    position: fixed;
    width: 10%;
    left: 7.5%;
    margin-top: 10px;
    color: rgb(107, 134, 225);
}

.rename {
    position: fixed;
    left: 1%;
    margin-top: 10px;
}

.factory {
    position: relative;
    top: 45px;
    background-color: rgb(107, 134, 225);
}

.wood-produce {
    position: fixed;
    left: 1%;
    top: 15.5%;
}

.wood {
    left: 5%;
    position: fixed;
    top: 15.8%;
    color: white;
}

.cloth-produce {
    position: fixed;
    left: 1%;
    top: 24%;
}

.office-produce {
    position: fixed;
    left: 1%;
    top: 32.1%;
}

.leather-produce {
    position: fixed;
    left: 1%;
    top: 40.5%;
}

.cloth {
    position: fixed;
    left: 5%;
    top: 24.3%;
    opacity: 0.5;
    color: white;
}

.office {
    position: fixed;
    left: 5%;
    top: 32.4%;
    opacity: 0.5;
    color: white;
}

.leather {
    position: fixed;
    left: 5%;
    top: 40.8%;
    opacity: 0.5;
    color: white;
}

.upgrades {
    position: relative;
    top: 7px;
    left: 41%;
    width: 15%;
    margin-top: 1px;
}

.upgrade-label {
    left: 41%;
    position: fixed;
    top: 9.25%;
}

.wood-prod-timer {
    position: fixed;
    left: 25%;
    top: 16%;
}

.cloth-prod-timer {
    position: fixed;
    left: 25%;
    top: 24%;
}

.office-prod-timer {
    position: fixed;
    left: 25%;
    top: 32%;
}

.leather-prod-timer {
    position: fixed;
    left: 25%;
    top: 40.5%;
}

.cloth-unlock,
.cloth-prod-timer {
    color: rgb(0 0 0);
}

.office-unlock,
.office-prod-timer {
    color: rgb(0 0 0);
}

.leather-unlock,
.leather-prod-timer {
    color: rgb(0 0 0);
}